<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Создание проекта</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-4">
                        <form role="form" ng-submit="add()" ng-model="project">
                            <div class="form-group">
                                <label for="Xvt993">Название проекта</label>
                                <input type="text"
                                       placeholder=""
                                       ui-mask=""
                                       name="Xvt993"
                                       ng-model="project.name"
                                       id="Xvt993"
                                       class="form-control ">
                            </div>
                            <div class="form-group">
                                <label for="x1">Url</label>
                                <input type="text" name="x1" ng-model="x1"
                                       id="x1" class="form-control "></div>
                            <div class="form-group">
                                <label for="jhbds773">Мероприятие</label>
                                <select class="form-control input-sm"
                                        ng-options="item.id as item.name for item in events" name="Gfv365"
                                        ng-model="project.event_id"
                                        id="jhbds773">
                                    <option value="?" selected="selected"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sdf823">Описание проекта</label>
                                <textarea class="form-control"
                                          ng-model="project.description"
                                          name="Gy4f3"
                                          id="sdf823"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Сохарить</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>