<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.users">
                    Пользователи
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.userAdd">
                    Добавить пользователя
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.events">
                    Мероприятия
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.eventAdd">
                    Добавить мероприятия
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.experts">
                    Эксперты
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.expertAdd">
                    Добавить эксперта
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.criterias">
                    Критерии
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="manager.criteriaAdd">
                    Добавить критерий
                </a>
            </li>
        </ul>
    </div>
</aside>
<div class="main-content-wrapper">
    <div id="main-content">
        <div ui-view></div>
    </div>
</div>
<ul class="messenger messenger-fixed messenger-on-bottom messenger-on-right messenger-theme-flat">
    <li class="messenger-message-slot messenger-shown" ng-repeat="alert in alerts" ng-class="{'messenger-last': $index==0, 'messenger-first': $index==alerts.length-1}">
        <div class="messenger-message message alert messenger-will-hide-after {{alert.type}} message-{{alert.type}} alert-{{alert.type}}">
            <div class="messenger-message-inner">
                {{alert.msg}}
            </div>
            <div class="messenger-spinner">
                <span class="messenger-spinner-side messenger-spinner-side-left">
                    <span class="messenger-spinner-fill"></span>
                </span>
                <span class="messenger-spinner-side messenger-spinner-side-right">
                    <span class="messenger-spinner-fill"></span>
                </span>
            </div>
        </div>
    </li>
</ul>