<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Добавить менеджера</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <form role="form" ng-submit="save()" ng-model="user">
                            <div class="form-group">
                                <label for="UVj401">Имя и Фамилия</label>
                                <input type="text"
                                       placeholder=""
                                       ui-mask=""
                                       name="UVj401"
                                       ng-model="user.full_name"
                                       id="UVj401"
                                       required="required"
                                       class="form-control ">
                            </div>
                            <div class="form-group">
                                <label for="HrP673">Номер телефона</label>
                                <input type="text"
                                       ui-mask="+7(999) 999 - 99 - 99"
                                       name="HrP673"
                                       ng-model="user.phone"
                                       id="HrP673"
                                       class="form-control "
                                       placeholder="+7(___) ___ - __ - __">
                            </div>
                            <div class="form-group">
                                <label for="Gfv365">Мероприятие</label>
                                <select class="form-control input-sm"
                                        ng-options="item.id as item.name for item in events" name="Gfv365"
                                        ng-model="user.event_id"
                                        id="Gfv365">
                                    <option value="?" selected="selected"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>