<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Добавить критерии</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <form role="form" ng-submit="add()" ng-model="event">
                            <div class="col-sm-12 " ng-form="">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Название критерия</label>
                                            <input type="text"
                                                   placeholder=""
                                                   ui-mask=""
                                                   name="name"
                                                   ng-model="event.name"
                                                   id="name"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>