<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Добавить критерии</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <form role="form" ng-submit="update()" ng-model="criteria">
                            <div class="col-sm-12 " ng-form="">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Название критерия</label>
                                            <input type="text"
                                                   placeholder=""
                                                   ui-mask=""
                                                   name="name"
                                                   ng-model="criteria.name"
                                                   id="name"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5>Допустимые значени</h5>
                                    <hr/>
                                    <div ng-repeat="value in values">
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <input type=""
                                                       placeholder=""
                                                       ui-mask=""
                                                       name="stat_date"
                                                       ng-model="value.label"
                                                       id="stat_date"
                                                       class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="end_date"
                                                       ng-model="value.value"
                                                       id="end_date"
                                                       class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <button class="btn btn-info btn-trans" ng-click="delValue(value.id)">-</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="hidden" ng-model="event.id">
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <input type=""
                                                       placeholder=""
                                                       ui-mask=""
                                                       name="stat_date"
                                                       ng-model="newValue.label"
                                                       class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="end_date"
                                                       ng-model="newValue.value"
                                                       class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <a ng-click="addValue()" class="btn btn-info btn-trans">+</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>