<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="g.index">
                    <i class="fa fa-dashboard"></i>
                    <span>Главная</span>
                    <!--<i class="arrow fa fa-angle-right pull-right"></i>-->
                </a>
            </li>
            <li class="sub-menu active">
                <a>
                    <i class="fa fa-user"></i>
                    <span>Профиль</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="g.projAdd">
                                Добавить проект
                            </a>
                        </li>
                    </ul>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="admin.managers">
                    <i class="fa fa-list-alt"></i>
                    <span>Таблица оценок</span>
                    <!--<i class="arrow fa fa-angle-right pull-right"></i>-->
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="login">
                    <i class="fa fa-sign-in"></i>
                    <span>Авторизация</span>
                    <!--<i class="arrow fa fa-angle-right pull-right"></i>-->
                </a>
            </li>
            <li class="sub-menu" ui-sref-active="active">
                <a ui-sref="admin.managers">
                    <i class="fa fa-sign-out"></i>
                    <span>Выйти</span>
                    <!--<i class="arrow fa fa-angle-right pull-right"></i>-->
                </a>
            </li>
        </ul>
    </div>
</aside>
<div class="main-content-wrapper">
    <div id="main-content">
        <div ui-view></div>
    </div>
</div>
